body {
    margin:0;
    padding:0;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
h1 {
    font-weight:normal;
    letter-spacing:-0.05em;
}
.filters {
    position:absolute;
    top:50px;
    right:0;
    margin:0;
    list-style:none;
    padding:0 5px;
    box-sizing:border-box;
    width:340px;
}
.filters li {
    display:block;
    float:left;
    width:50%;
    padding:0 2px;
    box-sizing:border-box;
}
.container {
    position:relative;
    width:640px;
    height:350px;
    margin:0 auto;
}
canvas {
    position:absolute;
    left:0;
    top:50px;
}
button {
    font-size:14px;
    display:block;
    width:100%;
    border:1px solid #09c;
    background:#fff;
    color:#09c;
    padding:14px 0;
    cursor:pointer;
    margin:0 0 4px;
    outline:none;
}
button:hover {
    background: #E1F5FF;
}
button.selected {
    color:#fff;
    background: #09c;
}